{% extends "mail/layout.html" %}
{%load static %}
{% block body %}

<link rel="stylesheet" href="{% static 'mail/login.css' %}">
<h2>Login</h2>

{% if message %}
<div>{{ message }}</div>
{% endif %}

<form action="{% url 'login' %}" method="post">
    {% csrf_token %}
    <input name="email" type="email" placeholder="Email">
    <input name="password" type="password" placeholder="Password">
    <button type="submit">Sign In</button>

</form>

Don't have an account? <a href="{% url 'register' %}">Register here.</a>

{% endblock %}