{% extends "mail/layout.html" %}

{%load static %}
{% block body %}

<link rel="stylesheet" href="{% static 'mail/login.css' %}">
<h2>Register</h2>

{% if message %}
<div>{{ message }}</div>
{% endif %}

<form action="{% url 'register' %}" method="post">
    {% csrf_token %}


    <input name="email" type="email" placeholder="Email">
    <input name="password" type="password" placeholder="Password">
    <input name="confirmation" type="password" placeholder="Confirm Password">
    <button type="submit">Register</button>





</form>


Already have an account? <a href="{% url 'login' %}">Log In here.</a>

{% endblock %}